[2015-05-13 02:26] richardPFisk opened #1 "XCode 6.3"
Has anyone got pact-consumer-swift  working with carthage using XCode 6.3?

I've tried a few different combinations of dependencies with a forked repo changing the Cartfile but without success yet.

The carthage log is complaining about the parameters of `responseString` on master where the Alamofire dependency is explicitly "master" (where Alamofire has merged its branch 'xcode-6.3').

[2015-05-13 03:11] andrewspinks commented on #1
Have a look in the swift1.2 branch, it was working with one of the betas of xcode-6.3 (although I guess the dependencies have moved on from then). I will update that branch when I get a second to make sure it works with the latest 6.3 release.

[2015-05-13 03:32] richardPFisk commented on #1
Thanks for the prompt update. Yes, I tried that and received the error, 'No object named "xcode-6.3" exists'" due to the Alamofire dependency no longer having the "xcode-6.3" branch they have merged into their Master branch.

[2015-05-13 04:48] andrewspinks commented on #1
OK, gotcha. I'll have a look at it tonight and see whats happened.

[2015-05-13 09:30] andrewspinks commented on #1
@richardPFisk I think I've fixed the swift1.2 branch. Let me know if you still have trouble. I'll look at merging these things into master, seeing as XCode 6.3 has been out for a while (I was waiting for travisci to support it, but it doesn't look like that will happen anytime soon).

[2015-05-13 10:14] richardPFisk commented on #1
That worked like a dream :+1:.  Thanks very much. The `completionHandler:` addition is what I was missing.

[2015-05-13 10:14] #1 closed, assigned to nobody

[2015-06-04 14:09] erikackermann opened #2 "Cocaopods support"
Can this project include a podspec so that it can be included via Cocoapods?

[2015-06-05 04:20] andrewspinks commented on #2
Yeah of course. I have nothing against cocoapods! Feel free to create a pull request if you would like. Otherwise I'll try and do it over the next few days...

[2015-06-09 17:05] erikackermann commented on #2
Thanks @andrewspinks.  I'm not sure I could do much providing a pull request with this change; you (or the project owner) will need to fill out the podspec with your details and run `pod trunk push`.

[2015-06-11 17:33] erikackermann commented on #2
@andrewspinks this should get you started: https://github.com/DiUS/pact-consumer-swift/pull/3

[2015-06-11 23:43] andrewspinks commented on #2
@erikackermann Cheers mate. Sorry, I did start looking at this last weekend but got bogged down in carthage bugs and travisci crap. Will try and get this going for you even if I cannot fix the build.

[2015-06-14 05:15] andrewspinks commented on #2
@erikackermann I added the podspec. See here for an example of how to use it: https://github.com/andrewspinks/PactObjectiveCExample I haven't published it on cocoapods yet, if you can let me know if it is working for you, then I'll publish it. I am probably going to switch the build of the main project to CocoaPods as well. Originally, I used carthage because the cocoapods support for swift was no

[2015-06-15 18:38] erikackermann commented on #2
@andrewspinks thank you so much!  I will try to integrate it now and let you know how it goes

[2015-06-15 20:09] erikackermann commented on #2
@andrewspinks I am able to get Pact integrated using Cocoapods using the steps in PactObjectiveCExample.  That part seems to be working fine.

However, I'm having trouble getting `pact-mock-service` to start with the pre-action in the test scheme.  I have set the path for `pact-mock-service` correctly (I've verified this by writing the path to a file from the pre-action script).  It seems like the

[2015-06-15 21:51] erikackermann commented on #2
I think my issue is related to the way my ruby installation is setup.  I'll get it worked out; either way, I think the cocoapods integration is working great so we can probably merge that into master on PactConsumerSwift.

[2015-06-15 23:54] andrewspinks commented on #2
@erikackermann Maybe start off by running the mock server manually from the terminal:

[code]

You just need to start it up before the test runs and manually kill it afterwards (ctrl+c). That might be useful for getting your first test working anyway. If that is working, then it is probably a path issue. XCode doesn't use the same PATH settings as your terminal, so you will probably need to set it

[2015-06-16 03:28] erikackermann commented on #2
@andrewspinks alright, thank you for your help.  Looking at the file at `~/nohup.out` I was able to get the pre-action to use the installed `pact-mock-service` (needed to add the line `source "$HOME/.rvm/scripts/rvm"` to use rvm).

I'm having issues now when trying to write a unit test.  I get an error "No such module 'PactConsumerSwift'" on the line `import PactConsumerSwift` in PactSpec.swift.

[2015-06-16 05:28] andrewspinks commented on #2
@erikackermann Sorry, I'm not sure. I just tried it out with a swift project and it seemed OK:
https://github.com/andrewspinks/PactSwiftExample/tree/cocoapods

[2015-06-16 15:47] erikackermann commented on #2
@andrewspinks alright, got it all working!  Was having lots of issues with `use_frameworks!` breaking other cocoapods I'm using, but finally got it to work by only calling `use_frameworks!` on my Pact specs target.  Looking good :+1:

[2015-06-16 15:50] erikackermann commented on #2
Thanks again for all of your help.  I made a few small changes to the podspec: https://github.com/DiUS/pact-consumer-swift/pull/4

[2015-06-17 17:43] erikackermann commented on #2
Should I wait until another version is released w/ cocoapods support to close this issue?

[2015-06-17 17:51] erikackermann opened #5 "Error when using somethingLike in provider response"
I'm trying to use the `somethingLike` matcher in provider response.  Doing something like the following:

[code]

When I do this, I get a crash with:

`Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Invalid type in JSON write (NSString)'`

(crash is on L128 in ParameterEncoding.swift in Alamofire)

Is this not the correct way to use the somethingLike matcher?  How

[2015-06-18 01:41] andrewspinks commented on #5
Hmmm, I thought I had an example of this around, but I can't find one.  Basically, you put the value that you want in the the somethingLike and the type will be inferred. e.g.

[code]

You can then assert on that value in your test to verify that your parsing code is correct.

[code]

NB: this will only work if you are using ruby on the server side.

[2015-06-18 01:43] andrewspinks commented on #5
@erikackermann I'll add an example to the tests when I get a moment.

[2015-06-18 01:44] andrewspinks commented on #2
Yeah, I'll close it when I've tagged and published to cocoapods. Hopefully I'll get to it today.

[2015-06-18 03:33] erikackermann commented on #5
@andrewspinks thank you.  Makes sense

[2015-06-18 03:33] #5 closed, assigned to nobody

[2015-07-01 10:53] andrewspinks commented on #2
Published on cocoapods.

[2015-07-01 10:53] #2 closed, assigned to nobody

[2015-09-21 14:10] erikackermann opened #6 "Won't compile under Xcode 7 with iOS 8 deployment target"
Repro steps:
- Integrate PactConsumerSwift into project with iOS 8 set as deployment target
- Build and run

Result:
- Numerous swift language errors.  Example from Interaction.swift:
  `'#' has been removed from Swift; double up 'method method' to make the argument label the same as the parameter name`
- Similar errors in AlamoFire and BrightFutures dependencies

Expected Result:
- Compiles with

[2015-09-21 15:14] erikackermann commented on #6
Started to get this working here: https://github.com/erikackermann/pact-consumer-swift/tree/xcode-7

[2015-09-23 11:01] andrewspinks commented on #6
@erikackermann I've had a look at this tonight, but haven't quite got it finished yet. There are some API  changes in Alamofire that I am still migrating, and I need to make sure the tests still work.

[2015-09-24 10:53] andrewspinks commented on #6
@erikackermann I think I have pretty much got it working, although I can't get the tests to pass on the command line for some reason (they seem to work in XCode). Check out the swift 2 branch and let me know how you go: https://github.com/DiUS/pact-consumer-swift/tree/swift-2

[2015-09-24 14:46] erikackermann commented on #6
Thanks @andrewspinks.  Taking a look now.

On Thu, Sep 24, 2015 at 6:53 AM, andrewspinks notifications@github.com
wrote:

##

Erik Ackermann

Mobile Development

(212) 951-0496

LinkedIn http://www.linkedin.com/in/erikackermann

176 Grand Street, 3rd Floor - New York, NY 10013

[2015-09-29 20:24] erikackermann commented on #6
@andrewspinks sorry for the delay getting back to you.  This appears to be working (the `swift-2` branch).  I can compile this against the iOS 8 SDK.

[2015-09-29 21:06] erikackermann commented on #6
@andrewspinks to get the build passing on Travis, I think you need to add `osx_image: xcode7` to the .travis.yml file

[2016-01-14 10:39] #6 closed, assigned to nobody

[2016-03-01 00:40] kumarSC opened #9 "Support for writing pacts in swift with cocoapods"
Hey @andrewspinks , I am trying to integrate this framework with my iOS project written in Swift 2 with Cocoapods as dependency manager.Since I wanted to avoid adding another DM with Carthage, I tried to use Cocoapods support instructions and then write tests using Swift? Not sure if it's not legitimate here? Also if I add this to my podfile  , pod 'PactConsumerSwift' , it grabs older PactConsumer

[2016-03-01 06:02] andrewspinks commented on #9
@kumarSC I think there was an error when I tried to publish to cocoapods and I didn't get around to fixing it. You should be able to use the latest version by specifying the git tag:

pod 'PactConsumerSwift', :git => 'https://github.com/DiUS/pact-consumer-swift.git', :tag => '0.1.5'

I'll publish the new version to cocoapods.

[2016-03-01 06:57] andrewspinks commented on #9
@kumarSC Cocoapods is now up to date.

[2016-05-18 03:17] #9 closed, assigned to nobody

[2016-05-18 03:18] andrewspinks opened #11 "Update to new pact-mock_service"
Newer versions don't seem to write pacts at the end of the test by default. May need to do a POST /pact at the end of a test.

[2016-05-18 03:22] andrewspinks opened #12 "Remove the need for manually verifying the interactions were met on every test"
At the moment in all test setup we require the verification result to be checked. e.g.

[code]

Now that swift supports exceptions, we should be able to just throw an exception if PactVerificationResult is not successful.

[2016-05-18 03:25] andrewspinks opened #13 "Fix carthage sample project"
This is broken at the moment
https://github.com/andrewspinks/PactSwiftExample

[2016-06-06 04:40] #11 closed, assigned to nobody

[2016-06-06 04:40] andrewspinks opened #14 "Support V2 of pact spec"

[2016-06-08 05:21] #13 closed, assigned to nobody

[2016-06-08 05:21] #14 closed, assigned to nobody

[2016-06-08 05:22] andrewspinks opened #15 "Provide better error messages when things go wrong"
If matching fails then it is necessary to go digging through logs to find what went wrong. The test errors should include details of what went wrong.

[2016-06-17 16:03] agenteo opened #16 "JSON pact file not generated after the test passes"
Hi,

I am testing a swift2 app, I've setup the MockService and run my test successfully--I can see the mock-service Webrick log being populated--_but_ there is no pacts directory with the json pact file!

The server starts/stops successfully via the scheme pre/post test scripts.

Has anyone seen this before? Any idea to where to look at what's going wrong?

Thanks

[2016-06-17 21:10] andrewspinks commented on #16
Hi @agenteo
What version of the library are you using? There was a bug in the startup script which was causing errors with the latest version of the mock server. It should be fixed in 0.2.0

You can test by manually starting up the mock server and disabling the script from running.
`pact-mock-service start --pact-specification-version 2.0.0 --log "./tmp/pact.log" --pact-dir "./tmp/pacts" -p 1234`

[2016-06-24 19:19] agenteo commented on #16
Hi @andrewspinks

I was on pact-mock_server 0.9, now updated the gem to 0.10

the consumer has always been 0.2

I tried the manual server start--before and after the gem update--I still don't have pact files baked in. A few things I noticed in the log:

`Received Request` followed by `Found matching response`--both matching my expectations and making the app work. Then `Veryfing - interactions mat

[2016-06-25 02:01] andrewspinks commented on #16
@agenteo There is nothing specific to any test framework, so it should work for a XCUIApplication. 2 things that I can think of which might be causing the problem:
1. The testComplete() function is not be called. This tells the mock server that all requests have completed and it should verify that all expected requests have been performed.
2. The test is exiting before all the requests have been p

[2016-08-22 06:38] andrewspinks commented on #15
Fixed in 0.3

[2016-08-22 06:38] #15 closed, assigned to nobody

[2016-08-22 06:38] andrewspinks commented on #12
Fixed in 0.3

[2016-08-22 06:38] #12 closed, assigned to nobody

[2016-08-22 08:26] andrewspinks opened #19 "Remove ruby dependecy"
Switch to using native mock service:
https://github.com/pact-foundation/pact-reference

[2016-08-29 03:54] kumarSC commented on #9
Hey @andrewspinks , I was trying to update pact-consumer-swift with cocoapods and seems to be broken again, I am getting the following error on running pod install.

`Pre-downloading:`PactConsumerSwift`from`https://github.com/DiUS/pact-consumer-swift.git`, tag `0.1.5`

`[!] Error installing PactConsumerSwift
[!] /usr/bin/git clone https://github.com/DiUS/pact-consumer-swift.git /var/folders/26/5pw

[2016-08-29 06:39] andrewspinks commented on #9
@kumarSC That seems weird, the tag hasn't been changed. I believe the tag was called 'v0.1.5' - maybe that has something to do with it. I published a new version (0.3) to cocoapods last week, so maybe you could try it without any tag?

[2016-09-29 14:44] lutzj82 opened #21 "Enable Matcher for path"
I have a PUT request that takes uses a UUID as part of the path, but since the path argument is a String, I can't pass it a Matcher [String: AnyObject]

example of what I'd like to do:

[code]

[2016-09-30 06:18] andrewspinks commented on #21
@lutzj82 Hmm, that sounds like a problem. I should have time to look at it tomorrow.

[2016-10-01 07:39] andrewspinks commented on #21
@lutzj82 I pushed a fix to master. Let me know if it works for you.

[2016-10-03 17:29] lutzj82 commented on #21
I'm still using XCode 7.3 and swift 2 with Carthage, I'll have to see what you did.

[2016-10-03 22:28] andrewspinks commented on #21
@lutzj82 Although the change that I made "seems" to work from the consumer point of view, I noticed that the pact file generated is missing the matcher details. It looks to be a bug in the mock service, and I've raised a bug there https://github.com/bethesque/pact-mock_service/issues/55 This may mean that what you are trying to achieve won't work until that bug is fixed.

As a side note, I am curr

[2016-10-03 23:37] andrewspinks commented on #21
@lutzj82 OK, it seems I am wrong, and it is working as designed. Let me know if you would like me to retrofit the fix back for swift 2.2

[2016-10-04 01:48] lutzj82 commented on #21
@andrewspinks, So I took your code changes and added it as an extension method on my end and it worked! If you could, that'd be great as I wasn't planning on the upgrade for a little while. If not, I will use the extension until then.

[2016-10-04 03:46] andrewspinks commented on #21
@lutzj82 Awesome! I'll try and retrofit it sometime this week. I'll leave this open until I've released the new version.

[2016-10-04 15:47] lutzj82 opened #22 "extend run to include timeout"
I am running **UI tests** that utilize the mock services, but in a couple of cases the tests take longer than the default timeout for Nimble. Currently, I am having to set

[code]

but I'd prefer to either pass in a timeout value to **run**, or do the assert myself for testComplete
Thoughts?

Thanks

[2016-10-05 10:59] andrewspinks commented on #22
@lutzj82 I think adding timeout value to the run method might work. I'll take a look at that when I get a sec.

[2016-10-07 00:59] andrewspinks commented on #22
Hey @lutzj82 I have pushed a swift-2.3 branch with allows you to specify a timeout like this:

[code]

I also retrofitted the path matcher change into this branch.
Let me know what you think.

[2016-10-28 22:59] #21 closed, assigned to nobody

[2016-12-14 15:29] garie commented on #22
Am I reading it right that you defaulted the timeout to 1 second (PactConsumerSwift/MockService.swift:55)? If that is the case, that would cause every single one of our tests to start failing unless we added the timeout argument. I think 30 seconds is a much more reasonable default.

[2016-12-14 22:13] andrewspinks commented on #22
@garie Apologies, it appears that I may have done that, my bad. A pull request would be welcome!

[2016-12-15 13:12] garie commented on #22
PR #23 is open.

[2017-01-16 12:49] garie opened #24 "How can I serve a byte array as a response body?"
I am trying to mock a call to get an image from our image service. I have so far been unable to successfully provide an image to my app.

This is the service code to serve up the image (C#):

[code]

This is the pact I have written to mock the image response:

[code]

I have so far been unable to get the body to be correct. In my code, I am calling `UIImage(data: body)`, which works fine when hitt

[2017-01-16 22:57] andrewspinks commented on #24
@garie I haven't tried to do this before, but my initial thought would be to try and read an image file from disk and use it as the body, then you don't have to deal with trying to convert the uiimage to the correct format.

[2017-05-29 00:07] bethesque commented on #19
Hey Spinks, want to use the standalone build of the mock service? Then you can remove the ruby dependency.

[2017-05-29 00:09] bethesque commented on #19
This is how the python one does it https://github.com/pact-foundation/pact-python/blob/master/setup.py

[2017-07-02 02:23] #22 closed, assigned to nobody

[2017-08-11 02:36] #24 closed, assigned to nobody

[2017-08-11 02:36] #16 closed, assigned to nobody

[2017-08-16 21:08] poksi592 opened #28 "Tests fail"
Hi,

It seems like `testItSaysHello()` fails for me on timeout. Actually, all the methods do. Do you have any idea what could be the problem here? I installed everything needed, at least I believe so.

Thanks!

[2017-08-17 12:03] andrewspinks commented on #28
@poksi592 If your test execution takes a long time, then yes, it may timeout. You can increase the timeout like this:
[code]
Also ensure that you are calling the `testComplete()` callback from the mock service.  What test framework are you using? If you can provide a sample of the test you have written, that will help in debugging the problem.

[2017-08-18 08:10] poksi592 commented on #28
@andrewspinks For whatever reason, the service wasn't started from Pre-build script...
When I started it manually, it worked. :)
Thanks!

[2017-08-18 08:13] poksi592 opened #29 "Only for Tests?"
Hi,

I tried to setup using this framework in the main bundle as well. The purpose is to establish the possibility of using same mocks also in the main bundle in cases some of the API's were not implemented yet, but the app still needs to work, although only with stubbed responses.
Of course, I saw the `MockService` importing Nimble and rest of the frameworks that rely on XCTest. Are you consideri

[2017-08-20 05:17] andrewspinks commented on #29
@poksi592 There is nothing on the roadmap to support this at the moment from this library. However, there is this stub server which you might be able to use in the same way:  https://github.com/uglyog/pact-stub-server (or a dockerised version: https://github.com/pact-foundation/pact-stub-server ) I haven't tried it yet though.

[2017-09-10 23:57] ghost commented on #28
@poksi592 A helpful command for your Scheme's Test `Pre-actions` and `Post-actions` that will help you debug any issues with running and stopping pact server on every test run:
[code]

[2017-10-25 10:33] angelolloqui commented on #16
Check my PR #33

[2017-12-12 03:05] #28 closed, assigned to nobody

[2018-04-11 23:46] surpher opened #35 "Matcher.eachLike(_:min) not generating examples in Pact file"
### New Issue Checklist
- [x] Updated `pact-consumer-swift` to latest version
- [x] Searched for existing GitHub issues

### Issue description
When writing Pact tests with `Matcher.eachLike(_ value: Any, min: Int)` and using 0 for `min`,
the generated Pact file does not include the provided example value.

*Given Pact test:*
[code]

*In Pact file:*
[code]

### Expected behaviour
Pact file should i

[2018-04-25 06:48] rvoortman opened #36 "PactConsumerSwift won't compile because BrightFutures won't compile"
This is error I'm getting. I saw this was already fixed in BrightFutures 6.0.1.
<img width="572" alt="image" src="https://user-images.githubusercontent.com/7511066/39230011-403e0e68-4865-11e8-88f3-3a0bb78c5c88.png">

I will start working on this.

[2018-04-25 22:34] #36 closed, assigned to nobody

[2018-05-11 01:48] surpher opened #39 "Pre/post script with non-zero exit does not fail build"
### Setup
Running pact tests from an iOS build.
Using _pre-actions_ and _post-actions_ of the scheme in the Xcode project to start/stop the pact mock service and then upload to the Pact broker.

**pre-actions**
[code]

**post-actions**
[code]

### Expected result:
Non-zero exit of these scripts should fail the CI.

### Actual result:
Non-zero exit codes from pre/post test scripts don't result in t

[2018-05-11 01:50] sgleadow commented on #39
Thanks for that. Just for context for the scripts above, I obviously set up the PACT_BIN and then the pact broker credentials environment variables separately for these scripts to work as well, that's just the minimum context to explain the issue.

eg. even if you just put `exit 1` in those scripts, it doesn't fail

[2018-05-18 01:02] surpher commented on #39
After some investigation Xcode's scheme scripts indeed do not honour non-zero exit codes.

I would suggest running `pact-broker` in a seperate CI step rather than in a Schemes' Test _post-actions_ script.

[2018-07-02 00:48] #39 closed, assigned to nobody

[2018-07-02 01:55] bethesque commented on #35
You should not be able to specify 0 as a min. It should be at least 1. From the pact docs:

https://docs.pact.io/faq#why-is-there-no-support-for-specifying-optional-attributes

[2018-07-02 03:21] #35 closed, assigned to surpher

[2018-07-02 03:25] bethesque commented on #35
@MarkoJustinek ideally, the Swift DSL should raise an error if a user tries to enter a min value of 0.

[2019-01-22 20:38] cassandrabailey293 opened #41 "Update for Swift 4.2"
Hi, I was wondering if there was any plan to update this repo to Swift 4.2 / XCode 10.

I am using this library in my project, which I tried to upgrade to Swift 4.2 / XCode 10. I am getting an error in the Pact Consumer Swift module saying "No such module BrightFutures". I think this is due to BrightFutures having upgraded to 4.2 but this repo has not.

[2019-01-22 23:02] andrewspinks commented on #41
Hi @cassandrabailey293 thanks for letting us know. Yes, it is supported, so we will upgrade as soon as I get a spare moment. PR's welcome if you want to help speed the process up!

[2019-01-23 15:57] cassandrabailey293 commented on #41
Okay, I will give it a shot!

[2019-01-23 21:47] cassandrabailey293 commented on #41
Hi @andrewspinks , I tried to upgrade it myself but I ran into the same issue - No such module found, which kept appearing on different import statements for 4 or 5 different modules. I tried to figure it out myself but I'm having some trouble. Perhaps you will have better luck than I. :)

[2019-01-23 22:38] andrewspinks commented on #41
@cassandrabailey293 Thanks for giving it a go. I'll try and take a look today.

[2019-01-24 11:52] andrewspinks commented on #41
@cassandrabailey293 We've released a new version with updated dependencies.

[2019-01-25 08:05] andrewspinks commented on #41
Closing issue. If you still experience problems, we can re-open it.

[2019-01-25 08:05] #41 closed, assigned to nobody

[2019-02-20 14:10] YuryBogdanov opened #43 "You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target. file"
HI!
I've been trying to build and run an application which Test target depends on PactConsumerSwift (via CocoaPods) on a real device and encountered this error:
[code]

Apparently, this happens due to enabled bitcode (although it shouldn't be). PactConsumerSwift's dependency (Nimble) had the same issue, which was successfully [resolved](https://github.com/Quick/Nimble/issues/170).

So in order to

[2019-02-26 22:39] andrewspinks commented on #43
@YuryBogdanov thanks for reporting and providing a workaround. Will try and change the setting when I get a spare moment.

[2019-03-25 23:19] georgescumihai opened #45 "Won't compile with Xcode 10.2"
Because the versions for Nimble and Quick do not compile with Xcode 10.2, also pact doesn't compile with Xcode 10.2.
I created a PR to fix that #44

[2019-03-25 23:35] andrewspinks commented on #45
@georgescumihai Thank you very much! I'll try and get this merged asap.

[2019-03-26 12:04] andrewspinks commented on #45
@georgescumihai Version 0.5.4 published with your change. Thanks!

[2019-03-26 12:05] #45 closed, assigned to nobody

[2019-03-27 01:26] andrewspinks opened #46 "Remove gradle dependency from release process."
There is a release script that was largely based off another project and makes it easier to create consistent releases (especially with the cocoapods workflow). However, as its written in groovy it is a pain for other people to install and get to work. Converting it to something installed by default on osx would be ideal.

[2019-04-03 07:59] vijay2pvk opened #47 "Not supporting with Swift 5.0 version"
I am not able to update the carthage with Swift 5.0 (XCode 10.2).

error: compiling for iOS 9.0, but module 'Alamofire' has a minimum deployment target of iOS 10.0: $(SRCROOT)/Carthage/Checkouts/pact-consumer-swift/Carthage/Build/iOS/Alamofire.framework/Modules/Alamofire.swiftmodule/armv7.swiftmodule
import Alamofire
       ^

** ARCHIVE FAILED **

The following build commands failed:
	CompileSwif

[2019-04-03 22:05] surpher commented on #47
Thanks for reporting it. We'll bump up the dependencies versions and submit a new version asap.

Actually, we'll have to look into removing Alamofire altogether to avoid these unsupported versions.

In the mean time, to get around this I suppose you could go into your /Carthage folder, find the Alamofire version declaration that's not supporting your iOS 9.0 minimum supported project and replace i

[2019-04-03 22:19] andrewspinks opened #48 "Remove unnecessary dependencies"
Every new xcode and swift version breaks due to downstream dependencies. Reducing number of dependencies will reduce unnecessary breakages and reduce maintenance work.

Deps:

- [ ] BrightFutures
- [x] Alamofire
- [ ] Nimble (would probably need to duplicate nimbles' xcode reporting functions)

[2019-04-07 08:13] andrewspinks commented on #47
@vijay2pvk I just created a new project in XCode 10.2 using Swift 5.0, Carthage and the deployment target set to iOS 9.0 but I could not reproduce the same issue. Can you give any more information about your build settings? Also, it might be worth playing with the iOS deployment target settings to see if that is causing the build failures.

[2019-06-04 05:59] vijay2pvk opened #49 "Test fails in physical device"
Hi, Can we run the pact tests in physical device? I am getting below errors

"Verification error (check build log for mismatches): Error"
"Waited more than 1.0 seconds"

Even tested with PactSwiftExample project & getting same error.

[2019-06-04 22:09] surpher commented on #49
Hi Vijay. Is [PactMockService](https://github.com/pact-foundation/pact-ruby-standalone/releases) running at the time you are trying to run your tests?

Worth noting what `url` you are using in your tests? The `helloProvider: MockService` defaults to `localhost`, so that means your physical device would need to run your _MockService_ as the tests would call `localhost`. If you must run your tests u

[2019-06-06 07:02] andrewspinks commented on #47
Closing as couldn't reproduce. We can re-open the issue if you continue to have problems.

[2019-06-06 07:02] #47 closed, assigned to nobody

[2019-06-06 07:15] #29 closed, assigned to nobody

[2019-06-06 09:12] vijay2pvk commented on #49
Hi Marko. I am able to run in **iOS simulator successfully**. I have issue only when i run in **Physical device**. I have few doubts

1) How will i know that PactMockService is running?
2) Where this PactMockService will run? locally in device or Mac? How to implement

Here is the code snippet which i am using

let verificationService = PactVerificationService(url: "http://localhost", port: 1_234)

[2019-06-06 23:27] andrewspinks commented on #49
@vijay2pvk In the xcode setup instructions you probably added a pre-action step which contains the  command to start the mock service and set the port. i.e.
```pact-mock-service start --pact-specification-version 2.0.0 --log "${SRCROOT}/tmp/pact.log" --pact-dir "${SRCROOT}/tmp/pacts" -p 1234```
The last parameter `-p 1234` specifies that it will run on port 1234. i.e. The mock server should be run

[2019-06-07 00:01] bethesque commented on #49
If you're running the mock service on a different host, you'll also need to start it up with `--host 0.0.0.0` so that it is externally accessible. By default, it binds to localhost.

But as Andy says, you don't typically use the mock service with real devices.  The best use of pact is to test just the code in your consumer that is responsible for calling your provider https://docs.pact.io/best_pra

[2019-06-07 03:11] vijay2pvk commented on #49
Thanks Marko, Andrew & Beth for your quick response.

[2019-06-12 13:07] surpher opened #52 "Include binaries of depending tools in the repo"
When running in CI/CD (TravisCI) in our case, it is not encouraged to update tools on the Build machine to the latest as the may break the version dependency (eg: `brew update`, `carthage update`). These updates might update the dependencies or behaviour that might not be compatible with the codebase. By bundling these binaries we can be sure the environment on developers machine and CI are the sa

[2019-06-12 13:18] #49 closed, assigned to nobody

[2019-06-12 14:52] surpher opened #54 "Remove WatchOS scheme from Project"
It is still not possible to run Unit Tests for WatchOS specific target/platform.

Proposing to remove the WatchOS scheme and clean up/avoid building any dependencies that are not used on/by WatchOS target.

Benefiting in build times on local machines and on CI.

[2019-06-12 22:34] andrewspinks commented on #52
We can pin version dependencies if necessary, but I don't really like having binaries in the repo.

[2019-06-14 01:32] surpher commented on #52
Oh, the Carthage/Pod Dependencies shouldn't have been on the list above.

But, hear me out here...

Running `brew update`, `install _tool_` and such messes up the environments and is mostly always makes them different between a developer's and the environment on the build agent.

Example 1:
- fastlane installed using homebrew on my machine.
- using `scan` to run tests works fine
- using `scan` ste

[2019-06-17 07:43] andrewspinks commented on #52
Yeah, I get your point. I think we could achieve that with an install script that can be run by ci and anyone picking up the project. We can pin the versions in the script as needed.

[2019-06-18 23:32] surpher opened #55 "Remove `.swift-version` file"
Remove the `.swift-version` file which is now deprecated and only use the attribute within the podspec.

[https://www.ozbargain.com.au/node/464411](https://www.ozbargain.com.au/node/464411)

[2019-06-18 23:35] surpher opened #56 "Remove BrightFutures dependency"
Almost every new Xcode and swift version breaks due to downstream dependencies.
Reducing number of dependencies will reduce unnecessary breakages and reduce maintenance work.

This issue focuses on removing `BrightFutures` dependency.

[2019-06-18 23:35] surpher commented on #48
I've split this issue into other issues that focus on removing dependencies separately.
This issue can be closed (when open PRs are closed)

[2019-06-18 23:39] surpher opened #57 "Remove Nimble dependency"
Almost every new Xcode and swift version breaks due to downstream dependencies.
Reducing number of dependencies will reduce unnecessary breakages and reduce maintenance work.

This issue focuses on removing hard dependency on Quick/Nimble in the main framework.
Move dependency into test targets only so it's not propagated to end users of this Framework.

[2019-06-20 00:46] #48 closed, assigned to surpher

[2019-06-25 02:22] #43 closed, assigned to nobody

[2019-06-27 05:56] surpher commented on #19
We've started using [https://github.com/pact-foundation/homebrew-pact-ruby-standalone]().

This issue can be closed if I'm not mistaken?

[2019-06-27 12:00] surpher opened #62 "Extract out all the configuration options into .xcconfig files"
To avoid various merge conflicts due to configuration option changes
The configuration options should be pulled into manageable .xcconfig files

Include swiftlint.sh input parameters for swiftlint binary location and configuration file in .xcconfig file and remove from the script.

[2019-06-27 23:37] surpher commented on #19
Task:
- remove `.ruby-version` file from repo to close this issue

[2019-06-27 23:40] andrewspinks commented on #19
This was originally more about switching to the native library (https://github.com/pact-foundation/pact-reference), so there are no separate dependencies that needed to be installed. But happy for a new, different issue to be opened about that if we want to go down that route.

[2019-06-28 07:30] #54 closed, assigned to nobody

[2019-06-30 00:34] surpher commented on #56
Work in progress. Just need to refactor _return handlers_ to be more DRY.

[2019-07-18 10:27] andrewspinks opened #69 "Error messages from mock server no longer returned"
After merging #53 errors are no longer being returned from the mock server. This means verification errors are not returned in test failures in XCode.

Verification errors before change:
<img width="1121" alt="verification-failure-before" src="https://user-images.githubusercontent.com/1097463/61449502-0d989900-a990-11e9-9e6c-a74c694d8a0f.png">

Verification errors after change:
<img width="1122" a

[2019-07-21 01:19] #69 closed, assigned to andrewspinks

[2019-08-03 11:23] #46 closed, assigned to nobody

[2019-08-16 15:26] georgescumihai opened #73 "Self signed SSL certificates do not work"
starting the `pact-mock-service` with `--ssl` will create a self signed certificate, which will be discarded by  `PactVerificationService`, because it is using a session without a delegate, so it is not handling `didReceiveAuthenticationChallenge`.
To reproduce the issue,

-  change the start script to use `--ssl` option
-  change the base URL of the mockService to "https://localhost"
-  run the t

[2019-08-18 23:02] andrewspinks commented on #73
@georgescumihai Thanks for reporting! I suspect we should have an option on the MockService to use ssl (defaulting to false, and could also switch the url the PactVerificationService is using). I don't have a lot of spare time at the moment, so it might take a while to get around to making the change. PR's welcome :-D

[2019-08-21 07:51] mefellows commented on #73
Honestly I'm not sure why we support SSL for this at all (saying this even though I've added it to Pact JS and others). Can you elaborate on your use case? Might just help us understand if it's something we want to keep and continue supporting.

I've never had the need, and can't see how it helps increase confidence in an integration.

[2019-08-21 07:54] andrewspinks commented on #73
haha @mefellows, I was wondering the same and looked at pactjs for guidance :-)

[2019-08-21 07:55] mefellows commented on #73
Rookie mistake, _never_ look at JS for guidance on anything 😬

[2019-08-21 08:23] georgescumihai commented on #73
In our use case, we are computing a hash out of the url, which is included in the http request, so not having https, will make the hash not match with the one computed by the server, and all the api calls will fail.
The server is only working on https at this moment.

Maybe it is not the most common use case, in an ideal case, it should also work on http, so this would not be necessary.

[2019-08-21 08:25] mefellows commented on #73
So can you not a) have the server configurable (i.e. allow an http URL) or b) not include the scheme in the hashing?

[2019-08-21 08:27] georgescumihai commented on #73
a) at this point not
b) is totally not doable, not only 1 client, other platforms as well, a breaking change

If you do not intend to have this functionality, I can close the PR and we can close this issue.
We still have our fork for this change and will probably work for now.

[2019-08-21 10:10] mefellows commented on #73
Fair enough. I guess when you have a large number of  people/companies/use-cases, all roads lead to more features :)

I'm satisfied.

[2019-08-22 13:43] GeorgeIvanov opened #75 "Update BrightFutures to a version that supports swift 5.0"
Hey, can you please update the BrightFutures dependency to a version that supports version 5? Because right now BrightFutures and Result are written in swift 4.2, thanks.

[2019-08-26 08:18] surpher commented on #75
Thanks for the nudge.

[PR](https://github.com/DiUS/pact-consumer-swift/pull/76) has been created. Now just waiting for a review and I can release the new minor version.

[2019-08-26 14:28] #52 closed, assigned to nobody

[2019-08-26 22:50] #75 closed, assigned to surpher

[2019-09-02 01:14] andrewspinks commented on #75
@GeorgeIvanov sorry for the delay, but I only just managed to release this properly as v0.7.0.

[2019-09-02 01:14] andrewspinks commented on #55
Removed in 0.7.0

[2019-09-02 01:14] #55 closed, assigned to nobody

[2019-12-02 03:04] david-tigerspike opened #79 "Brightfutures crashes on Xcode 11.2.1, Swift 5.1, iOS 13.2 - EXC_BAD_ACCESS"
Hello,

Currently we are trying to get Pact.IO running for our iOS app. However we are unable to execute a MockService.run() without it crashing.

The application keeps throwing a "Thread 1: EXC_BAD_ACCESS (code=2, address=0x1)"

`#2	0x0000000108391853 in AsyncType<>.onSuccess(_:callback:) at /$PROJECT/SourcePackages/checkouts/BrightFutures/Sources/BrightFutures/AsyncType+ResultType.swift:33`

It

[2019-12-02 03:34] andrewspinks commented on #79
@david-tigerspike If you can provide replication steps, or even better, a demo project, that will greatly assist.

[2019-12-02 03:48] david-tigerspike commented on #79
@andrewspinks Thanks for your quick response.

Here you'd find attached a Demo Project. Just simply run the tests for it and it should fail.

Just to confirm. Our current set up is:

Xcode version: 11.2.1 (11B500)
Swift: 5.1
iOS: 13.2

[PactTest.zip](https://github.com/DiUS/pact-consumer-swift/files/3909352/PactTest.zip)

Thanks again for your help

[2019-12-09 02:31] surpher commented on #79
Hi @david-tigerspike I’ve tested this and it seems to be a SPM bug in Xcode 11.2. It works fine with Carthage. I’m about to confirm if it works or not with Xcode 11.3.

Is there a hard requirement for you to use 11.2?

**Edit:**
I managed to run your `PactTest.zip` project with Xcode 11.3 beta, yet I needed to explicitly add `CwlPreconditionTesting 2.0.0` package to the SPM (unfortunately that is

[2019-12-12 01:59] david-tigerspike commented on #79
Thanks for your reply and time @surpher

Sadly we are unable to use Carthage and we are waiting for XCode 11.3 to get out of the BETA. For now we will do the imports manually in order to get it working. We will keep an eye out for the new XCode version.

Thanks again

[2019-12-12 01:59] #79 closed, assigned to nobody

[2019-12-12 02:49] surpher commented on #79
No problem. Xcode 11.3 is out of beta since yesterday! You're in luck ;)

[2020-02-04 07:00] #56 closed, assigned to surpher

[2020-02-04 22:49] surpher commented on #73
Was this issue resolved with the already merged [PR #74](https://github.com/DiUS/pact-consumer-swift/pull/74)?

[2020-02-06 04:55] surpher commented on #73
It was, but was overwritten with the next PR 🤕
It is re-introduced with PR #82 and #84

[2020-02-10 02:12] huwr opened #83 "MockService's testFunction should `rethrows`"
Hi,

It'd be great if the `testFunction` from the `MockService` could be marked as `rethrows`.

This will allow us to call throwing functions inside `testFunction`, and for that error to be thrown in turn by the `XCTest` function. Errors thrown from `XCTest` funcs fail the test. It is likely that an exception inside the `testFunction` would be a good enough reason to fail the test. This means we w

[2020-02-10 10:29] andrewspinks commented on #83
Sounds like a good idea @huwr . Although, I think that might break compatibility with swift 4.2, so we'd need to drop support for it in a new version with this change...?

[2020-02-11 20:50] Nonnus opened #85 "`Matcher.somethingLike` not working according to the docs?"
We are in the process of covering our mobile apps with contract testing using Pact tests.
After successful initial setup and tests, we started to take a step further and start testing type matching instead of strict value matching but have hit a roadblock as we cannot find swift documentation on how to use this feature and any sample codes we could find followed the same pattern as our code

this

[2020-02-11 22:29] andrewspinks commented on #85
Hi @Nonnus what you are doing looks OK, as far as I can tell. We have a very similar test here: https://github.com/DiUS/pact-consumer-swift/blob/master/Tests/PactConsumerSwiftTests/PactSpecs.swift#L245

There should be a generated log file, assuming it is getting that far. By default the log file is generated in the `./tmp/pact.log` (unless you've configured the mock server to startup with a diffe

[2020-02-11 23:00] Nonnus commented on #85
Hi @andrewspinks

Thanks a lot for your super quick reply and for assuring me I was on the right track

After reading your message I started to notice the behaviour was quite flaky and then noticed I had started `pack-mock-service` from command line and it was still running, regardless if tests were running or not, Xcode open or not, etc

So I stoped the service, ran the tests again from project a

[2020-02-11 23:00] #85 closed, assigned to nobody

[2020-02-12 03:22] huwr commented on #83
I think `rethrows` has been around since before 4.2. The `rethrows` in `flatMap` has been there for 3 years: https://github.com/apple/swift/blame/master/stdlib/public/core/SequenceAlgorithms.swift#L756

I believe we can do it while maintaining compatibility.

[2020-02-12 04:05] andrewspinks commented on #83
haha, right. I read "Swift version: 5.1" on  https://www.hackingwithswift.com/example-code/language/how-to-use-the-rethrows-keyword and thought that was when it was introduced 😊

[2020-02-16 22:09] surpher commented on #73
@georgescumihai @andrewspinks I believe this issue can now finally be closed having expanded implementation and tests merged into `master`.

[2020-02-17 09:28] georgescumihai commented on #73
Yes, can be closed.

[2020-02-17 09:28] #73 closed, assigned to nobody

[2020-02-22 04:51] #83 closed, assigned to nobody

[2020-03-10 04:29] rubencagnie commented on #57
I'm currently investigating Pact and stumbled upon this library. It's working really well (great job!), but the fact that it relies on `Nimble` is a bit tedious, because we don't use it in our App.

After looking into the code, the dependency doesn't really seem too big. I actually did the work to remove the Nimble dependency in the framework (as well as `OHHTTPStubs`). There would still be the de

[2020-03-10 06:09] huwr commented on #57
To me this sounds quite promising; I had a similar approach but I didn't quite get there.

I was trying to use dispatch groups to replace the `waitUntil` function. I was having trouble there though. I think the `wait(timeout:)` was not firing because I didn't have a `NSRunLoop`… (not sure yet though)

To replace `fail` I hadn't come up with anything yet. Is that where you need your `errorReporter`

[2020-03-10 12:13] rubencagnie commented on #57
Both for `wait` and `fail`, XCTest has a solution. I’ll try to get a PR up later today or tomorrow so you can see the proposed implementation

[2020-03-27 10:37] mmysliwiec opened #88 "Project is not building correctly when spaces are in the project path."
When you have your project which is using pact-consumer-swift under the path with space(s) (lets say "~/Open Source/Test/") then Carthage/SPM will not build pact-consumer-swift framework. The issues are in project.pbxproj and scripts/swiftlint.sh files.

[2020-03-27 10:47] mmysliwiec commented on #88
I've created a PR for this issue: https://github.com/DiUS/pact-consumer-swift/pull/89

[2020-03-30 10:57] mmysliwiec commented on #88
It's merged in 0.8.0 so I'm closing this issue.

[2020-03-30 10:57] #88 closed, assigned to nobody

[2020-03-31 07:00] andrewspinks opened #90 "Improve swiftlint reporting"
When there is a linting issue while running in travis-ci, the output is hidden in the build log file. This makes it hard to identify what went wrong and can make it confusing and frustrating for contributors.

[2020-04-01 13:09] mmysliwiec opened #91 "pact.io framework is not building with Xcode 11.4"
Both Carthage and Xcode (11.4) can't build the current 0.8.0 version of pact-consumer-swift framework. I can see linker issues:

    ld: warning: Could not find or use auto-linked library 'XCTestSwiftSupport'
    ld: warning: Could not find or use auto-linked framework 'XCTest'

[2020-04-01 22:01] surpher commented on #91
I was looking into this last week already but have had little luck so far. From what I have found from across the internet is this looks like an SPM issue.

I'll keep looking for a solution though.

[2020-04-01 22:14] surpher commented on #90
Might be `xcpretty` being dumb. Maybe we should try with  `[xcbeautify](https://github.com/thii/xcbeautify)`. I'm not sure if it is available on TravisCI.org mac runners bu default though.

In `scripts/build.sh` the command to build and test `... xcodebuild ... | xcbeautify` instead of `| xcpretty -c`

[2020-04-01 22:27] surpher commented on #62
Not much benefit to the project at this stage.

[2020-04-01 22:27] #62 closed, assigned to nobody

[2020-04-01 22:32] coloverde commented on #91
I just discovered the exact same issue. It also occurs with previous versions of pact-consumer-swift.

[2020-04-06 01:58] marc-48k commented on #91
The fix is to set `ENABLE_TESTING_SEARCH_PATHS` to true.

[2020-04-06 06:37] surpher commented on #91
Thanks @marc-48k ! Seems like it could be a winner here.
I'm just looking into the "supported" environments matrix to see if it will stick 👍

[2020-04-06 10:46] #91 closed, assigned to surpher

[2020-04-07 08:57] mmysliwiec commented on #91
@andrewspinks When we can expect a release with this fix? It's kind of important now :-).

[2020-04-07 22:48] andrewspinks commented on #91
@mmysliwiec 0.8.1 has now been released.

[2020-05-20 03:19] beatrichartz opened #95 "Supporting Pact specification version 3"
What are the plans for supporting version 3 of the Pact spec? There are some features of V3 that would be handy to be able to use on iOS.

[2020-05-20 03:28] surpher commented on #95
Hey @beatrichartz

It is being developed and someone doing some testing, apart from me, would be much appreciated. Not everything is implemented yet, but happy to re-prioritise tasks based on most pressing requirements.

Head on to [https://github.com/surpher/PactSwift](https://github.com/surpher/PactSwift). It will be transferred to Pact-Foundation once it reaches RC.

It generally works the same

[2020-05-21 00:14] surpher commented on #57
The thing with Nimble's `fail(message:file:line:)` is that it reports the failed test at a specific line (eg. `mockService.run {...}) where as `XCTFail()` will trigger in the file and on the line where `XCTFail()` is called

[2020-05-24 04:30] #57 closed, assigned to nobody

[2020-05-24 05:00] huwr commented on #57
Thanks!

[2020-06-02 22:46] #90 closed, assigned to surpher

[2020-06-03 14:25] treatwell-ignasurbonas opened #98 "Separate Pact providers generated files contain all the pacts"
**General**
Setting different providers in same tests run (`provider` when creating `MockServer` instance) doesn't generate correct output (pact json files). All the pacts are generated for every provider file. This is an issue because we need to generate (and later upload) separate pacts files for different providers.

**Example Issue**
There are two providers: `provider1` and `provider2`. `MockS

[2020-06-03 22:57] andrewspinks commented on #98
Hi @treatwell-ignasurbonas this is because of a limitation of how the underlying mock server works. i.e. one instance of the mock service should be for one provider. Most other pact implementations start and stop the mock service as part of the test framework, however this is not possible when running in a sandboxed environment like the iOS simulator.

The usual workaround that people use is to st

[2020-06-03 23:14] surpher commented on #98
If you still need to use multiple providers with Pact spec v2 (pact-consumer-swift), see this example project on how you could set it up (it's not the only way):

[https://github.com/surpher/pact-consumer-swift-multiple-providers](https://github.com/surpher/pact-consumer-swift-multiple-providers)

[2020-06-04 09:57] treatwell-ignasurbonas commented on #98
Amazing. Thank you for detailed explanation.
This `one instance of the mock service should be for one provider` answers all my questions 👍 .

[2020-10-04 23:21] mefellows opened #100 "Create a Pact Swift Workshop"
We have a new standard workshop format (e.g. https://github.com/pact-foundation/pact-workshop-js).

There is an empty repository at https://github.com/pact-foundation/pact-workshop-swift where any workshop can be contributed to.

[2020-10-19 22:05] isadamascena opened #101 "Quick dependency causing conflict."
Steps to reproduce:
- Add the `LaunchDarkly` library with Swift Package Manager (version 5.2.0)
- Add the `pact-consumer-swift` latest.

I get the error bellow:
![image](https://user-images.githubusercontent.com/38086231/96516084-d96bf200-123c-11eb-9f83-aa7af4f0421f.png)

Have you folks foreseen any action/work around for that version conflict on SPM? this can be a big issue since many libraries h

[2020-10-19 22:11] surpher commented on #101
Thanks for reporting this @isadamascena!

Just to be clear, you're using SPM to handle dependencies, even `pact-consumer-swift`?
It should be as simple as bumping up the Quick dependency version within `pact-consumer-swift` and any clean up required for Quick 3.x.x.

[2020-10-19 23:04] andrewspinks commented on #101
I would suggest removing Quick as a dependency if it is causing an issue. It is only required to run the project tests (which we don't run by spm in the build anyway), it shouldn't be an enforced dependency on clients.

[2020-10-20 05:42] surpher commented on #101
That would be ideal. Though it seems that SPM pulls in the dependencies per project, not per target or how Carthage does it with `Cartfile.private`. Looking into the structure, if it can be removed for distribution.

https://github.com/DiUS/pact-consumer-swift/blob/master/Package.swift

[2020-10-20 22:54] #101 closed, assigned to nobody

[2020-11-02 13:20] narek-sv commented on #43
problem still exists for me, when trying to build on a real device (iPhone XS, iOS 14.1, XCode 12.1)

[code]
^ This workaround doesn't help at all

Here is the log
[code]

[2020-11-26 13:20] ManaliM27 opened #104 "Pact tests not working with OpenCombine and Combine code"
Hi, The Pact tests are not working with **Combine** and **OpenCombine** code
I have written code to download the data using OpenCombine (Tried the same using Combine). But the pact tests are not working with that code. I am getting Timeout error. On executing the Pact tests, code control never reaches the **tryMap** block (Code Below)

Error : "failed - test did not complete within 30.0 second tim

[2020-11-26 22:29] surpher commented on #104
How are you subscribing to this publisher and sending a trigger to execute the network call? How are you collecting the events your `dataPublisher` is emitting?

[2020-11-27 10:27] ManaliM27 commented on #104
There was some issue in setting the tests. So closing this issue.

[2020-11-27 10:27] #104 closed, assigned to nobody

[2020-12-11 22:40] mefellows opened #105 "Chore: migrate away from TravisCI"
TravisCI (org) is dropping support for OSS builds at the end of this month, meaning they must be transferred to travis-ci.com, which uses a credit system. Builds may fail (and already are) if the number of credits is exhausted within the month.

We are recommending switching to GH Actions, but the choice of CI provider is up to the project maintainer.

See also:

https://mailchi.mp/3d439eeb1098/tr

[2020-12-18 12:35] thomas-br opened #108 "ATS blocking mockserver interaction"
I was setting up pact-consumer-swift following your guide but struggling currently during the execution of my contract test.

By default my test is failing due to an ATS error:
[code]

Also setting the following settings to my TestTarget's Info.plist does not work:
[code]

It does work though when setting it to the actual App-Target's plist, where I am then able to successfully run my contract tes

[2020-12-19 10:50] surpher commented on #108
You can start the pact-ruby-standalone with self signed ssl and run your tests on https://localhost. And in your api code you can set it to accept self signed certs on localhost only. That way you don't need to edit the ATS of your app.

Check the unit tests in this repo for an example. (I'm writing this on a mobile phone, but if you still struggle I can later point you to the code that handles ss

[2020-12-19 11:46] surpher commented on #108
An example on how to start the `pact-ruby-standalone` with SSL (see [scripts/start_server.sh](https://github.com/DiUS/pact-consumer-swift/blob/master/scripts/start_server.sh)):
`pact-mock-service start --ssl --pact-specification-version 2.0.0 --log "${SRCROOT}/tmp/pact-ssl.log" --pact-dir "${SRCROOT}/tmp/pacts-ssl" -p 2345`

You need to have your API client implementation's `URLSession` conform to

[2020-12-19 13:03] #105 closed, assigned to surpher

[2021-01-23 08:32] thomas-br commented on #108
Okay, thank you for the clarification.

[2021-01-27 21:23] CaferlopAgileContent opened #114 "Connection Error when working with pact mock service enabling ssl"
Hello!

Trying to setup a PoC for a Swift project, enabling ssl in the pact-mock-service lead us to the error message shown in the below image:
<img width="827" alt="Captura de pantalla 2021-01-27 a las 22 12 04" src="https://user-images.githubusercontent.com/75729262/106054930-f8580b00-60ec-11eb-97c4-e1410accabe8.png">

The server is launched using:
pact-mock-service start --ssl --pact-specificat

[2021-01-27 21:56] surpher commented on #114
Have you made your `HTTPClientService` conform to `URLSessionDelegate`?

In your app target where you've implemented your API client, set it to conform to `URLSessionDelegate` and set up the following delegate method:
[code]
In it you can define which domains should allow insecure certificates. This will allow your API client to communicate over `https`  but still connect to `https://localhost` wh

[2021-01-29 19:02] CaferlopAgileContent commented on #114
Hello! Thank you very much for your answer.

I've done what you suggested, but the providerMock is not using the API client I've implemented. If I run the test, but commenting the API client  part, it will fail equally with the same error message, as you can see in the image below:

<img width="698" alt="Captura de pantalla 2021-01-29 a las 19 44 01" src="https://user-images.githubusercontent.com/

[2021-02-02 04:11] surpher commented on #114
I can have a look once I get some time.
Looks suspicious though, why it would be complaining now when nothing changed in a long while. And the `mockService`'s API client that talks to pact-ruby-standalone service and does all the Pact mumbo jumbo (eg. sets up the expectations, checks whether the api calls have been triggered, etc.) in `PactConsumerSwift` does have its own `URLSessionDelegate` conf

[2021-02-02 05:11] surpher commented on #114
There seems to have been a change in iOS 14.x that is breaking this! When hitting `localhost`, the `NSURLSessionDelegate` method is not being called?

Using your example project, target iOS 14.4 and Xcode 12.4:
I have unlocked the `Pods/Pods/PactConsumerSwift/PactVerificationService.swift` and updated the following line number `219`:
[code]

Then...
1. When I set up `pactVerificationService` with

[2021-02-02 05:12] surpher commented on #108
@thomas-br if you are still experiencing trouble getting https://localhost running, we've encountered an anomaly as described in this [comment](https://github.com/DiUS/pact-consumer-swift/issues/114#issuecomment-771366403).

[2021-02-02 19:56] caferlop commented on #114
Thank you very much!

Replicated the changes, and now works properly!

The reason we tried with v2 is because v3 is labeled as under heavy development, so we decided to aim to a more stable version, just in case.  As well, v3 it is not distributed through CocoaPods, which is the dependency manager we use. If that would change, we could give a try.

Regarding the PR, tried to push a branch to creat

[2021-02-02 21:42] surpher commented on #114
Good to hear. I'm not really happy with using IP addresses instead of `localhost`, and I haven't figured out why this is happening now with the limited time I've given it to do research. Also note that the `pact-ruby-standalone` installed via Homebrew was broken until yesterday. I've fixed that too so the latest `1.88.37` can be used. I've checked with `pact-ruby-standalone` maintainers and they s

[2021-02-06 01:48] surpher commented on #114
@caferlop I have updated the [PactMacOSExample](https://github.com/surpher/PactMacOSExample) project to demonstrate how to set up a few Pact tests using latest tools at our disposal (macOS 11, Xcode 12.4).

There should be minimal differences in setting up a project using CocoaPods as a dependency manager I would imagine. Again, I have strong feelings about CocoaPods and haven't used it a project

[2021-02-06 12:22] andrewspinks commented on #114
@caferlop @surpher 0.10.1 has been released to cocoapods

[2021-02-08 08:10] CaferlopAgileContent commented on #114
Thank you very much @surpher @andrewspinks !!!

[2021-02-09 14:18] #108 closed, assigned to nobody

[2021-02-11 16:53] batuhansener opened #119 "Remote mock server"
Hi, are there any ways to run the mock service provider on a remote server so that anyone working the project will run their test connecting to that server and not being have to install pact-ruby-standalone?

[2021-02-11 21:50] surpher commented on #119
Yes. When setting up your `MockService` object in your tests, you can set a baseURL for your remote server instead of `localhost` (or `127.0.0.1`).

Although it might be a bit tricky with the way `pact-ruby-standalone` works, if you would choose to use it as your mock server. #98 I personally haven't tried to set it up, but am very curious what you find out.

[2021-02-12 17:13] ghost commented on #114
Just wanted to note that I was hitting a brick wall having the same issue on version 0.10.1 (macOS 11.2, Xcode 12.2). Using `127.0.0.1` instead of `localhost` fixed the issue for me.

[2021-03-31 10:30] sebskuse opened #120 "Cannot build project when swiftlint 0.43.0+ is installed"
Hi,

We're currently integrating `pact-consumer-swift` via Carthage. Recently we've noticed that this has started to fail to build via Carthage, or indeed via Xcode directly. We're getting a build error during the `Swiftlint` build phase:

[code]

Looking at the `swiftlint` changelog (https://github.com/realm/SwiftLint/releases) for 0.43.0 shows a change was made related to paths inside configurat

[2021-03-31 14:15] surpher commented on #120
Thanks for raising this.

Personally I have nothing against moving it back to root of this project. Especially when it's (still) the only file in `/Configuration` folder. Will need an update of a swiftlint sh script. PRs welcome 👍

[2021-04-06 10:30] sebskuse commented on #120
Closed with #121

[2021-04-06 10:30] #120 closed, assigned to nobody

[2021-05-13 18:31] alexbasson opened #122 "Minimum supported iOS version should be 9"
`PactConsumerSwift.podspec` specifies iOS 9 as the minimum supported version of iOS, while `Package.swift` specifies iOS 8 as the minimum supported version of iOS. The minimum version should be iOS 9 to suppress build warnings from Xcode.

[2021-05-14 12:50] #122 closed, assigned to nobody

[2021-07-09 19:22] tsfischer opened #124 "Can't specify location of pact log and pacts directory"
I need to use a custom pact folder for CI purposes. For now, I'm using the default Scheme Pre-action:

`pact-mock-service start --pact-specification-version 2.0.0 --log "${SRCROOT}/tmp/pact.log" --pact-dir "${SRCROOT}/tmp/pacts" -p 1234`

However whenever I run the tests, the files are going to my built products dir under Derived Data, in a folder called 'pact'

I can't find anywhere where I can o

[2021-07-09 19:56] tsfischer commented on #124
OK this was user error (I'm not surprised).

There was a pact-server already running on my machine (not sure why, but it must have not stopped properly after a test run). That was pointing to the old location, and any attempts to start a new server were erroring out, but those errors were getting eaten. Bleah.

[2021-07-09 19:56] #124 closed, assigned to nobody

[2021-08-25 12:02] thomas-br opened #125 "Issue with URL Encoding of space character in query parameter"
In pact artifact files generated out of pact-consumer-swift tests I am facing issues with URL encoding.
With the example test:

[code]

In the pact file under interaction, the URL is constructed like the following:
[code]

The space in query is unfortunately encoded as a `+` instead of a `%20` which is leading to issues with certain providers running the verification against their systems. Some li

[2021-08-27 04:41] andrewspinks commented on #125
Hmm, the + is weird, we are guessing that is coming from the mock server. However, if the provider is expecting a url encoded string, I feel like that should be part of the contract (and what your client will need to do).

i.e. shouldn't the mock be
[code]

[2021-08-30 06:38] bethesque commented on #125
That may cause the ampersand to be double encoded, as the query with the hash format expects unencoded params. I don't think this can be fixed unfortunately, as it's part of the underlying behaviour of the Ruby encoding library. I'm afraid you'll have to post process the pact file (find and replace) before it's published.

[2021-08-30 09:27] TimothyJones commented on #125
Oh hey, I know this one!

The `+` comes from the [W3C recommendation](https://www.w3.org/TR/REC-html40/interact/forms.html#form-content-type) that forms submitted with GET put the values in the query part of the url, encoded as `application/x-www-form-urlencoded` (which never appears in any headers, because it's the content-type of the query string). This is also where we get the `?x=1&y=2` conven

[2021-08-30 09:33] TimothyJones commented on #125
Only after spending 30 minutes writing that up do I see that Beth already linked to a summary of `+` vs `%20` on the PR 🤦

[2021-08-30 23:41] bethesque commented on #125
But you summarised it so nicely! They should link to YOUR explanation.

[2021-08-30 23:41] bethesque commented on #125
Unfortunately, what servers *should* do and what they *do do* are two different things.

[2021-09-02 03:36] surpher commented on #125
Beth is right about double percentage encoding if writing the test with `%20`:

[code]

A way to get `pact-consumer-swift` to allow users define whether to encode or not encode path or query params would probably introduce a breaking change where a `Type` with an `encode` flag would be passed instead of `Any?` (which already smells... _fragile_). There might be more issues making changes for this

[2021-09-03 03:30] bethesque commented on #125
In this version of the pact specification, you can actually specify the query string as a string, and it's expected that it is encoded when the user specifies the string, so that's probably the best solution in this case.

I believe this is not supported in later versions of the specification though, which is something I kept meaning to bring up, but it never got to the top of the priority list.

[2021-09-06 04:18] surpher commented on #125
Based on what @bethesque wrote, @thomas-br does the test/contract work per your expectations if you write your test like:

[code]

[2021-09-06 05:29] thomas-br commented on #125
@surpher Yes it does. The only downside of the way shown in the snipped is that it introduces a strict checking of the order of the query params if there are multiple ones.

[2021-09-07 02:03] surpher commented on #125
Yeah I understand and was wondering about that. @bethesque when passing a string for `query` the `pact-ruby-standalone` is strict about the params' order in v2, right?

[2021-09-07 02:20] bethesque commented on #125
I thought I did some magic logic in there to do a smarter match, but if @thomas-br has tested it any found that the order makes a difference, then I must be thinking of something else.

[2021-09-07 02:32] TimothyJones commented on #125
Part of the problem is that it's not easy to know what format the query string is in. By convention (but not standard), they're `x-www-form-encoded`, but something that autodetected query params and reasoned about them could fail in this case, because spaces in `x-www-form-encoded` are `+` and not `%20`.

[2021-09-29 05:56] bethesque opened #127 "Add support for publishing verification results with a branch using the pact-ruby-standalone"
The Pact Broker now supports branches as first class entities. You can read more about this here: https://github.com/pact-foundation/docs.pact.io/blob/feat/deployments-and-releases/website/blog/2021-07-04-why-we-are-getting-rid-of-tags.md

To allow users to use this feature:

* Upgrade the pact-ruby-standalone to at least version `1.88.70`
* Add an appropriately prefixed "branch" property to the u

[2021-10-04 05:02] surpher commented on #127
This will fit into Scheme setup in Xcode under [`Post-actions`](https://github.com/DiUS/pact-consumer-swift/blob/master/scripts/images/xcode-scheme-test-pre-actions.png).
Before running `pact-mock-service stop` one should set up the CLI command (or as part of a script) for the `--provider-version-branch` and pass the `branch` most likely defined as an env var.

`PactConsumerSwift` will most likely

[2021-10-04 20:32] bethesque commented on #127
So, are you saying people can use it already, because they're using the standalone directly?

[2021-10-04 23:16] surpher commented on #127
Not sure if users are using it already. But what pact-consumer-swift does is only handling the consumer side of Pact by making 4 distinct **network requests** to `DELETE`, `PUT`, `GET` and `POST` on `/`, `/interactions`, `/interactions/verification` and `/pact` (in whatever combination it needs to be). Managing the mock server is done through scripts.

That's all that it does. Everything else is s

[2021-10-05 00:58] bethesque commented on #127
Oh, of course. Consumer only. I'll close this.

[2021-10-05 00:58] #127 closed, assigned to nobody

[2022-02-08 16:26] marcelinoagile opened #128 "Is there a way to use expressions into generators?"
Hi, I'm using your library and it works like a charm.
The problem is that now I'm trying to add "dynamic" dates to the pact and I can't find the way to do it.
Given a pact where the response should be:
[code]

... my backend colleague is adding the following object to the body using the Pacts Java library:
`object.datetimeExpression("start", "today +1 day @ 6 o'clock pm", "yyyy-MM-dd'T'HH:mm'Z'");

[2022-02-08 21:42] surpher commented on #128
Seems like your back-end colleague is using Pact-JVM that is generating pact contract spec v3. pact-consumer-swift only supports pact spec v2 which does not handle generators.

[2022-02-10 04:27] andrewspinks commented on #128
@marcelinoagile You might want to look at https://github.com/surpher/PactSwift which supports pact v3.

[2022-02-10 08:51] marcelinoagile commented on #128
Thanks @andrewspinks will take a look

[2022-03-05 22:17] surpher commented on #128
Feature implemented in [PactSwift](https://github.com/surpher/PactSwift) on a branch `feature/generator/datetime-expression` for now (https://github.com/surpher/PactSwift/tree/feature/generator/datetime-expression).

Example usage:

[code]

[2022-03-05 22:17] #128 closed, assigned to nobody

[2022-05-28 14:49] vivekthambikannu commented on #49
Hi, I am using pact consumer in my project, real time device only able to run my project unable to run in simulator.
my local ip address is = 120.138.12.180, iam getting this error
failed - Error setting up pact: The request timed out.
failed - Verification error (check build log for mismatches): The request timed out.
**My code**
 let verificationService = PactVerificationService(url: "http://120

[2022-05-28 14:55] vivekthambikannu opened #129 "Unable to run real device- Pactconsumer"
Hi, I am using pact consumer in my project, real time device only able to run my project unable to run in simulator.
my local ip address is = 120.138.12.180, iam getting this error
failed - Error setting up pact: The request timed out.
failed - Verification error (check build log for mismatches): The request timed out.
My code
let verificationService = PactVerificationService(url: "http://120.138.

[2022-05-29 10:06] surpher commented on #129
Is your Pact mock service running on 120.138.12.180:1234?

[2022-05-29 23:41] andrewspinks commented on #129
Can you access any other things on the computer from the device?  You can check for any network issues by running a simple http server on port 1234 on your computer, and trying to access that from device's browser. If that doesn't work, there is some sort of network issue between the device and computer which you will need to resolve.

[2022-05-30 05:21] vivekthambikannu commented on #129
yes my mock service running on this url :  http://120.138.12.180:1234
This my code
  let verificationService = PactVerificationService(url: "http://120.138.12.180", port: 1234)
        mockService = MockService(provider: "SomeName Provider", consumer: "SomeName iOS", pactVerificationService: verificationService)

    func testConsumerMaintenance() {
        let apiService = ApiService()
        le

[2022-05-31 04:04] surpher commented on #129
The failure

[code]

means that your API client did not trigger or the requests did not reach Pact Mock Service.
Does you `apiService` handle and/or display HTTP errors?

That is assuming you're using [`pact-ruby-standalone`](https://github.com/pact-foundation/pact-ruby-standalone), but even then, if you're using it like a standalone mock provider, it would most likely give you invalid Pact contra

[2022-11-23 20:02] mehmetmuratyazici commented on #43
Goto project build setting and select all category and search enable bitcode then change value to 'no' . i hope, your problem will solve when you try this way